@font-face {
  font-family: 'Cera Condensed Pro';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/CeraCondensedPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Abel';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Abel-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/BarlowCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin Condensed';
  font-weight: 700;
  font-style: bold;
  src: url('../assets/fonts/CabinCondensed-Bold.ttf') format('truetype');
}
// font-family: 'Abel', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Cabin Condensed', sans-serif;
